.task {
    padding: 2.5vh 2vh;
    margin-bottom: 6vh;
    border: 0.1vh solid #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: inset 0 0 1vh #ffffff, 0 0 1vh #ffffff;
    max-width: 600px;
    width: 60vw;
    transition: all .25s ease-in-out;
}

.task > div {
    margin: 0 2vh;
}

.taskControls {
    display: flex;
    flex-direction: column;
}

.taskControls > input[type=checkbox] {
    margin-bottom: 1vh;
    appearance: none;
    width: 2.5vh;
    height: 2.5vh;
    background-color: #1a1a1a;
    border: 0.1vh solid #ffffff;
    box-shadow: inset 0 0 0.5vh #ffffff, 0 0 0.5vh #ffffff;
    transition: background-color .25s ease-in-out;
    cursor: pointer;
}

.taskControls > input[type=checkbox]:checked {
    background-color: #ffffff;
}

.taskControls > input[type=button] {
    font-family: 'Varela Round', sans-serif;
    font-size: 2vh;
    margin-top: 1vh;
    background-color: #1a1a1a;
    color: #ffffff;
    border: 0.1vh solid #ffffff;
    width: 2.5vh;
    height: 2.5vh;
    box-shadow: inset 0 0 0.5vh #ffffff, 0 0 0.5vh #ffffff;
    cursor: pointer;
}

.taskInfo > * {
    font-family: 'Open Sans', sans-serif;
    max-width: 500px;
    width: 45vw;
}

.taskInfo > h2 {
    position: relative;
    margin-bottom: 1vh;
    top: -6px;
    font-size: 2vh;
}

.taskInfo > p {
    margin-top: 1vh;
    font-size: 1.5vh;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

/* Remove Outline When Buttons Or Inputs Are Selected */
input:focus {
    outline: none;
}